*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    color: rgba(31, 31, 31, 0.887);
}


body {
    height: 100vh;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-top: 1rem;
}

span {
    font-size: 3rem;
    font-weight: 400;
    padding: 2px 12px;
    margin-left: 16px;
    margin-right: 16px;
    text-shadow: -10px -10px 30px #ffffff;
    text-shadow: 10px 10px 30px #AEAEC0 40%;
}

button {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    background-color: transparent;
    padding-bottom: .7rem;
}

button:first-child {
    padding-bottom: .9rem;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}